<nav>    <form action="/logout" method="post">
        <button>logout</button>
    </form>
    <a href="/rngame">猜數字</a>
    <a href="/rcgame">猜單字</a>
    <a href="/game">home page</a>
</nav>
</body>
</html>