<%- include('partials/header') %></head>
<body>
    <h1>gamestation please login in </h1>
    <form action="/login" method="post">
        <input type="text" maxlength="10" id="name" name="name" placeholder="you name">
        <input type="text" maxlength="10" name="password" placeholder="you password">
        <button>submit</button>
    </form>
    <a href="/users/new">signup</a>
</body>
</html>