<%- include('partials/header') %></head>

<body>
    <h1>sign up a new acc</h1>
    <form action="/users" method="POST">
        <input type="text" maxlength="10" id="name" name="name" placeholder="you name">
        <input type="text" maxlength="10" name="password" placeholder="you password">
        <button>submit</button>
    </form>
</body>
</html>